:root {
    --dark: #001524;
    --secondary: #15616d;
    --light: #ffecd1;
    --accent: #ff7d00;
    --other: #78290f;
}

/* body {
    background-color: var(--dark);
} */

* {
    font-family: 'Raleway', sans-serif;
    color: var(--light);
    background-color: var(--dark);
}

.pageCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

#title {
    margin-bottom: 2rem;
}

#formCon {
    width: 50%;
}

.contactLabel {
    margin-bottom: 1em;
    margin-top: 1em;
}