:root {
    --dark: #001524;
    --secondary: #15616d;
    --light: #ffecd1;
    --accent: #ff7d00;
    --other: #78290f;
}

.header {
    width: 100%;
    height: 15vh;
};

/* .headerCon a img {
    height: 10vh;
} */

/* scaling the svg images for the icons */
.figure {
    display: block;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin: 1em auto;
};


/* contact section
1. form with name, email address, and a message box-- done
2. move cursor out of form fields-- tell you it's required
3. notification about invalid email address, if an invalid one is entered
4. resume section-- downloadable resume, list of skills */
