:root {
    --dark: #001524;
    --secondary: #15616d;
    --light: #ffecd1;
    --accent: #ff7d00;
    --other: #78290f;
}

#firstName {
    font-size: 10rem;
    font-weight: bolder;
    letter-spacing: .25rem;
    color: var(--secondary);
    margin-bottom: -0.4em;
}

#lastName {
    font-size: 10rem;
    font-weight: bolder;
    letter-spacing: .25rem;
    color: var(--accent);
    margin-top: 0em;
}