:root {
    --dark: #001524;
    --secondary: #15616d;
    --light: #ffecd1;
    --accent: #ff7d00;
    --other: #78290f;
}

#portRow {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.beats {
    border-color: var(--accent);
    border-style: solid;
    border-radius: 30px;
    margin-right: 20px;
    background-color: var(--accent);
}

.hollow {
    border-color: var(--accent);
    border-style: solid;
    border-radius: 30px;
    margin-left: 30px;
    background-color: var(--accent);
}

.portTitle {
    padding-left: 5px;
    padding-top: 5px;
    background-color: var(--accent);
    border-radius: 30px;
}

#beatsImg {
    height: auto;
    border-color: var(--accent);
    border-radius: 30px;
    /* margin-right: 20px; */
    border-width: 5px;
    /* border-style: solid; */

}

#HollowImg {
    height: auto;
    border-color: var(--accent);
    border-radius: 30px;
    /* margin-right: 20px; */
    border-width: 5px;

}